.Inscripcion_div {
    margin: 0 100px 30px 100px;
    h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: #8C52FF;
        font-size: 5rem;
        text-align: center;
    }
}